<div class="form-group">
  <div class="d-flex justify-content-center">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="searchOptions" id="firstName" value="fname" (click)="updateSearchField('fname')" checked>
        <label class="form-check-label" for="firstName">First Name</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="searchOptions" id="middleName" value="mname" (click)="updateSearchField('mname')">
        <label class="form-check-label" for="middleName">Middle Name</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="searchOptions" id="lastName" value="lname" (click)="updateSearchField('lname')">
        <label class="form-check-label" for="lastName">Last Name</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="searchOptions" id="preferredName" value="pname" (click)="updateSearchField('pname')">
        <label class="form-check-label" for="preferredName">Preferred Name</label>
      </div>
    </div>
    <label>Search Employees: </label>
    <input #searchBox id="search-box" (input)="search(searchBox.value)" class="form-control" placeholder="Search employee..." />
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Name and Email</th>
        <th scope="col">Work Authorization</th>
        <th scope="col">Next Step</th>
        <th scope="col">All files</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usersData">
        <td>{{user.fname}} {{user.mname}} {{user.lname}} Email:{{user.email}}</td>
        <td>
          <p><strong>Title:</strong> {{user.visa.type}}</p>
          <p><strong>Start Date:</strong> {{(user.visa.start | date:'full')}}</p>
          <p><strong>End Date:</strong> {{(user.visa.end | date:'full')}}</p>
          <p><strong>Days Remaining:</strong> {{user.visa.remain}}</p>
        </td>
        <td>
          <p *ngIf="user.next_file === 'done'">
            All approve
          </p>
          <p *ngIf="user.next_file === 'receipt' && user.visa_status === 'waiting'">
            Have sent registration token: waiting for employee to submit onboarding application
          </p>
          <p *ngIf="user.visa_status === 'waiting' && user.next_file !== 'receipt'">
            Waiting for employee to upload {{user.next_file}}
          </p>
          <p *ngIf="user.visa_status === 'pending'">
            Waiting for HR to approve {{user.next_file}}
          </p>
          <p *ngIf="user.visa_status === 'rejected'">
            HR rejected. Waiting for employee to upload {{user.next_file}} again
          </p>
        </td>

        <td>
            <span class="font-weight-bold">View PDF: </span>
            <ol *ngFor="let item of user['pdf']">
                <li><a class="text-decoration-none" target="_blank" [href]="item.url">{{item.fileTitle}}</a></li>
            </ol>
        </td>

      </tr>
    </tbody>
  </table>